.friend-selection-item {
  flex-grow: 1;
  border-radius: 5px;
  background-color: #dae9ff;
  cursor: pointer;
  padding: 0.2rem;
  transition: all 0.2s ease-in-out;
  justify-content: center;
}

.friend-selection-item:hover {
  background-color: #b9c5d7;
  transform: translateY(-0.2rem);
}
.friend-selection-item.selected {
  background-color: #007bff;
  color: #fff;
}
.friend-selection-name {
  margin-top: 20px;
  font-size: 1.2rem;
}
