.friend {
  border-radius: 0.4rem;
  transition: all 0.1s ease-in-out;
}

.friend img {
  margin-left: 0.3rem;
  margin-bottom: 0.375rem;
}

.friend:hover {
  background-color: #f8f9fa;
  transform: translateY(-0.05rem);
}

.friend.selected {
  background-color: #007bff;
  border-radius: 0.4rem;
  color: #fff;
}
.friend-unread-badge {
  position: relative;
  margin: auto;
  display: flex !important;
  justify-content: flex-end !important;
}
