.confirm-button:hover {
  background-color: #198754;
}

.confirm-button .icon-container svg {
  stroke: black;
}

.confirm-button:hover .icon-container svg {
  stroke: white;
  fill: white;
}
.btn-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
