.decline-button:hover {
  background-color: red;
}

.decline-button .icon-container svg {
  stroke: black;
}

.decline-button:hover .icon-container svg {
  stroke: white;
  fill: white;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 0.3rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
