* {
  --primary: #0d6efd;
  --dark: #000;
  --light: #fff;
  --light-grey: #ebedf0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content {
  z-index: 0;
  position: relative;
}

.chat-container {
  height: 100%;
  border-radius: 0.7rem;
  background-color: white;
}

.chat-message {
  border-radius: 0.7rem;
  width: fit-content;
  padding: 5px;
}
